@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Heebo&family=Josefin+Sans&family=Lora:wght@500&family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

#header_sub {
  width: 100%; }
  #header_sub .inner {
    width: 1180px;
    margin: 0 auto;
    height: 120px;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      bottom: 0;
      left: 0; }
      #header_sub .inner > h1 a {
        font: bold 24px/1 'Frank Ruhl Libre';
        color: #999; }
    #header_sub .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0;
      right: 0; }
      #header_sub .inner .menuWeb #gnb li {
        display: inline-block;
        margin-left: 15px; }
        #header_sub .inner .menuWeb #gnb li a {
          font: bold 15px/1 'Josefin Sans';
          color: #444; }
    #header_sub .inner .menuWeb .util {
      text-align: right;
      background: #f7e7c9; }
      #header_sub .inner .menuWeb .util li {
        display: inline-block;
        margin-left: 10px; }
        #header_sub .inner .menuWeb .util li a {
          font: bold 16px/1 'Lora';
          color: lightslategray; }
    #header_sub .inner .btnCall {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: none; }
      #header_sub .inner .btnCall::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
        display: block;
        transform: rotate(0deg);
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
        display: block;
        transform: rotate(0deg);
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transition: 0.5s; }
      #header_sub .inner .btnCall.on::before {
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px; }
      #header_sub .inner .btnCall.on::after {
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px; }
      #header_sub .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header_sub .inner .menuMo {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: #444;
      transition: 0.5s;
      padding: 35px 30px;
      z-index: 10; }
      #header_sub .inner .menuMo h1 {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 60px; }
        #header_sub .inner .menuMo h1 a {
          display: block;
          font: 24px/1 'Josefin Sans';
          color: #fff;
          text-align: center; }
      #header_sub .inner .menuMo #gnbMo li a {
        display: block;
        font: 30px/1 'Josefin Sans';
        color: #fff;
        text-align: center;
        margin-bottom: 35px; }

.content {
  width: 100%;
  padding: 0 0 100px; }
  .content .sub_visual {
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
    padding: 50px 0; }
    .content .sub_visual > h1 {
      text-align: center;
      width: 380px;
      height: 28px;
      margin: 50px auto;
      position: relative;
      font: 28px/1 'Lora'; }
      .content .sub_visual > h1::before {
        content: '';
        width: 80px;
        height: 1px;
        display: block;
        background: #000;
        position: absolute;
        top: 14px;
        left: 0; }
      .content .sub_visual > h1::after {
        content: '';
        width: 80px;
        height: 1px;
        display: block;
        background: #000;
        position: absolute;
        top: 14px;
        right: 0; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 600px;
    position: relative; }
    .content .inner > h2 {
      font: 30px/1 'Lora';
      color: #fda22b;
      margin-bottom: 20px; }
    .content .inner > p {
      font: 15px/1 'Lora';
      color: #aaa;
      display: block; }
      .content .inner > p::before {
        content: '';
        width: 100px;
        height: 1px;
        display: block;
        background: #000;
        margin-bottom: 10px; }

#footer_sub {
  width: 100%;
  padding: 100px 40px; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer_sub .inner .top {
      width: 100%;
      display: inline-block; }
      #footer_sub .inner .top::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .top h1 {
        float: left; }
        #footer_sub .inner .top h1 a {
          display: block;
          font: bold 28px/1 'Frank Ruhl Libre';
          color: #111;
          margin-bottom: 30px; }
      #footer_sub .inner .top .sns {
        float: right; }
        #footer_sub .inner .top .sns li {
          display: inline-block;
          margin-right: 20px; }
          #footer_sub .inner .top .sns li a {
            font-size: 20px;
            color: #000000; }
    #footer_sub .inner .info {
      float: left;
      margin-bottom: 30px; }
      #footer_sub .inner .info::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .info p {
        font: 16px/1 'Heebo';
        color: #000000;
        margin-bottom: 10px; }
      #footer_sub .inner .info span {
        font: 16px/1 'Heebo';
        color: #000000;
        display: block;
        margin-bottom: 30px; }
      #footer_sub .inner .info strong {
        font: 15px/1 'Heebo';
        color: #000000;
        margin-right: 20px; }
      #footer_sub .inner .info .open {
        font: 15px/1 'Heebo';
        color: #cbcbcb;
        display: inline-block; }
      #footer_sub .inner .info .copyright {
        font: 14px/1 'Heebo';
        color: #cbcbcb; }
    #footer_sub .inner .list {
      text-align: right; }
      #footer_sub .inner .list ul li {
        margin-bottom: 5px; }
        #footer_sub .inner .list ul li a {
          font: 15px/1 'Heebo';
          color: #111; }

#department {
  width: 100%;
  padding: 50px 0; }
  #department .inner {
    width: 1180px;
    margin: 0 auto; }
    #department .inner p {
      margin-bottom: 15px; }
    #department .inner .company {
      width: 100%;
      position: relative; }
      #department .inner .company .wrap {
        position: relative; }
        #department .inner .company .wrap::before {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #e3e6e9;
          display: block; }

#header {
  width: 100%; }
  #header .top {
    width: 100%;
    height: 30px;
    background: #f8f1e4; }
  #header .inner {
    width: 1180px;
    margin: 0 auto;
    height: 120px;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      bottom: 0;
      left: 0; }
      #header .inner > h1 a {
        font: bold 24px/1 'Frank Ruhl Libre';
        color: #999; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0;
      right: 0; }
      #header .inner .menuWeb #gnb li {
        display: inline-block;
        margin-left: 15px; }
        #header .inner .menuWeb #gnb li a {
          font: bold 15px/1 'Josefin Sans';
          color: #444; }
    #header .inner .menuWeb .util {
      position: absolute;
      top: -25px;
      right: 0; }
      #header .inner .menuWeb .util li {
        display: inline-block;
        margin-left: 10px; }
        #header .inner .menuWeb .util li a {
          font: bold 16px/1 'Lora';
          color: lightslategray; }
    #header .inner .btnCall {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: none; }
      #header .inner .btnCall::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
        display: block;
        transform: rotate(0deg);
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
        display: block;
        transform: rotate(0deg);
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transition: 0.5s; }
      #header .inner .btnCall.on::before {
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px; }
      #header .inner .btnCall.on::after {
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px; }
      #header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    #header .inner .menuMo {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: #444;
      transition: 0.5s;
      padding: 35px 30px;
      z-index: 10; }
      #header .inner .menuMo h1 {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 60px; }
        #header .inner .menuMo h1 a {
          display: block;
          font: 24px/1 'Josefin Sans';
          color: #fff;
          text-align: center; }
      #header .inner .menuMo #gnbMo li a {
        display: block;
        font: 30px/1 'Josefin Sans';
        color: #fff;
        text-align: center;
        margin-bottom: 35px; }

#visual {
  width: 100%;
  height: calc( 100vh - 120px);
  position: relative;
  background: #eee; }
  #visual .inner {
    width: 1180px;
    margin: 0 auto; }

#introduce {
  width: 100%;
  padding: 150px 0;
  background: #f9f4f1; }
  #introduce .inner {
    width: 1180px;
    margin: 0 auto; }
    #introduce .inner .wrap .left {
      float: left;
      width: 49%;
      margin-right: 2%;
      padding: 150px 60px; }
      #introduce .inner .wrap .left h1 {
        font: bold 15px/1 'Hebo';
        margin-bottom: 100px;
        color: #f0a417; }
      #introduce .inner .wrap .left p {
        font: 600 16px/1.7 'Hebo';
        color: #212121; }
    #introduce .inner .wrap .right {
      float: left;
      width: 49%; }
      #introduce .inner .wrap .right h2 {
        font: bold 24px/1.4 'Josefin Sans';
        letter-spacing: -1px;
        margin-bottom: 50px; }
      #introduce .inner .wrap .right img {
        width: 700px;
        height: 600px; }

#content {
  width: 100%;
  padding: 200px 0;
  background: #e6e5e1; }
  #content .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 0 30px; }
    #content .inner .wrap {
      display: flex; }
      #content .inner .wrap .left {
        width: 34%;
        position: relative;
        padding: 30px 100px; }
        #content .inner .wrap .left h1 {
          font: bold 24px/1 'Lora';
          margin-bottom: 20px; }
        #content .inner .wrap .left .pic1 {
          width: 350px;
          height: 240px;
          background: #555; }
        #content .inner .wrap .left .pic2 {
          width: 220px;
          height: 140px;
          background: #bdbaba;
          position: absolute;
          bottom: 30px;
          left: -30px; }
          #content .inner .wrap .left .pic2 a {
            font: 15px/1 'Lora';
            color: #333;
            position: absolute;
            bottom: -60px;
            left: 0; }
            #content .inner .wrap .left .pic2 a i {
              margin-left: 20px; }
      #content .inner .wrap .middle {
        width: 43%;
        position: relative; }
        #content .inner .wrap .middle .txt {
          position: absolute;
          bottom: -100px; }
          #content .inner .wrap .middle .txt h2 {
            font: bold 20px/1 'Lora';
            margin-bottom: 20px; }
          #content .inner .wrap .middle .txt p {
            font: 15px/1.4 'Heebo';
            width: 75%; }
      #content .inner .wrap .right {
        width: 23%; }
        #content .inner .wrap .right .pic {
          width: 300px;
          height: 440px;
          background: #555; }

#about {
  width: 100%;
  padding: 150px 0;
  background: #d9d9d3; }
  #about .inner {
    width: 1180px;
    margin: 0 auto;
    display: flex; }
    #about .inner .left {
      width: auto;
      display: flex;
      margin-right: 3%; }
      #about .inner .left h1 {
        font: 26px/1.3 'Lora';
        width: 38%; }
      #about .inner .left span {
        font: 24px/1 'Lora';
        color: orange;
        border-bottom: 1px solid orange;
        margin-right: 5px; }
      #about .inner .left .wrap {
        display: flex; }
        #about .inner .left .wrap article {
          width: 220px;
          height: 350px;
          margin-right: 10px; }
          #about .inner .left .wrap article .pic {
            width: 200px;
            height: 280px;
            background: #999;
            margin-bottom: 15px; }
          #about .inner .left .wrap article p {
            font: bold 14px/1.3 'Hebo';
            padding-right: 6px;
            margin-bottom: 5px; }
    #about .inner .right {
      width: 35%; }
      #about .inner .right h2 {
        font: 22px/1.3 'Lora';
        margin-bottom: 50px; }
      #about .inner .right span {
        font: 20px/1 'Lora';
        float: left; }
      #about .inner .right ul {
        float: right;
        width: 55%; }
        #about .inner .right ul li {
          margin-bottom: 10px; }
          #about .inner .right ul li::after {
            content: '';
            width: 100%;
            height: 1px;
            background: #111;
            display: block;
            margin-top: 8px; }
          #about .inner .right ul li a {
            font: 18px/1 'Lora';
            color: #111; }

#iconbox {
  width: 100%;
  padding: 150px 0; }
  #iconbox .inner {
    width: 1180px;
    margin: 0 auto; }
    #iconbox .inner .wrap article {
      width: 280px;
      margin-right: 20px;
      float: left; }
      #iconbox .inner .wrap article:last-child {
        margin-right: 0; }
      #iconbox .inner .wrap article i {
        font-size: 24px;
        margin-bottom: 13px; }
      #iconbox .inner .wrap article h1 {
        font: 20px/1 'Hebo';
        margin-bottom: 10px; }

#faq {
  width: 100%;
  padding: 100px 0; }
  #faq .inner {
    width: 1180px;
    margin: 0 auto; }
    #faq .inner .content {
      display: flex; }
      #faq .inner .content #wrap {
        width: 49%;
        padding: 80px 10px;
        margin-right: 2%; }
        #faq .inner .content #wrap dt {
          width: 100%;
          padding: 16px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 50px;
          position: relative;
          font: bold 16px/1 'Hebo';
          color: #131517;
          cursor: pointer;
          transition: 0.5s;
          margin-bottom: 10px; }
          #faq .inner .content #wrap dt::before {
            content: '';
            display: block;
            width: 1px;
            height: 11px;
            background: #000;
            position: absolute;
            top: 50%;
            right: 33px;
            transform: translateY(-50%); }
          #faq .inner .content #wrap dt::after {
            content: '';
            display: block;
            width: 11px;
            height: 1px;
            background: #000;
            position: absolute;
            top: 50%;
            right: 28px;
            transform: translateY(-50%); }
          #faq .inner .content #wrap dt.on {
            border: 1px solid #111; }
            #faq .inner .content #wrap dt.on::before {
              transform: translateY(-50%) rotate(-90deg); }
        #faq .inner .content #wrap dd {
          width: 100%;
          padding: 20px;
          font: 15px/1.3 'Hebo';
          color: #7c7c7c;
          display: none; }
          #faq .inner .content #wrap dd:nth-of-type(1) {
            display: block; }
      #faq .inner .content .right {
        width: 49%; }
        #faq .inner .content .right h1 {
          font: bold 23px/1 'Overpass', sans-serif;
          color: #444;
          margin-bottom: 20px; }
        #faq .inner .content .right .wrap .txt {
          position: relative; }
          #faq .inner .content .right .wrap .txt article {
            float: left;
            width: 49%;
            margin-right: 2%;
            padding: 20px 10px; }
            #faq .inner .content .right .wrap .txt article:nth-of-type(even) {
              margin-right: 0; }
            #faq .inner .content .right .wrap .txt article h2 {
              font: bold 16px/1.3 'Overpass', sans-serif;
              color: #555;
              margin-right: 60px;
              border-right: 3px solid #111; }
            #faq .inner .content .right .wrap .txt article p {
              font: 15px/1.4 'Overpass', sans-serif;
              color: #555;
              margin: 15px 45px 20px 0; }
            #faq .inner .content .right .wrap .txt article a {
              font: 13px/1 'Overpass', sans-serif;
              color: #333; }
              #faq .inner .content .right .wrap .txt article a i {
                margin-left: 10px; }

#footer {
  width: 100%;
  padding: 100px 40px; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner .top {
      width: 100%;
      display: inline-block; }
      #footer .inner .top::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .top h1 {
        float: left; }
        #footer .inner .top h1 a {
          display: block;
          font: bold 28px/1 'Frank Ruhl Libre';
          color: #111;
          margin-bottom: 30px; }
      #footer .inner .top .sns {
        float: right; }
        #footer .inner .top .sns li {
          display: inline-block;
          margin-right: 20px; }
          #footer .inner .top .sns li a {
            font-size: 20px;
            color: #000000; }
    #footer .inner .info {
      float: left;
      margin-bottom: 30px; }
      #footer .inner .info::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .info p {
        font: 16px/1 'Heebo';
        color: #000000;
        margin-bottom: 10px; }
      #footer .inner .info span {
        font: 16px/1 'Heebo';
        color: #000000;
        display: block;
        margin-bottom: 30px; }
      #footer .inner .info strong {
        font: 15px/1 'Heebo';
        color: #000000;
        margin-right: 20px; }
      #footer .inner .info .open {
        font: 15px/1 'Heebo';
        color: #cbcbcb;
        display: inline-block; }
      #footer .inner .info .copyright {
        font: 14px/1 'Heebo';
        color: #cbcbcb; }
    #footer .inner .list {
      text-align: right; }
      #footer .inner .list ul li {
        margin-bottom: 5px; }
        #footer .inner .list ul li a {
          font: 15px/1 'Heebo';
          color: #111; }

#navi {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9; }
  #navi li {
    margin: 20px 0; }
    #navi li a {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: #888;
      transition: 0.5s; }
      #navi li a.on {
        background: #111;
        height: 30px; }

/*# sourceMappingURL=style.css.map */
