.community{

    .sub_visual{
        background: #ececec;
    }

    .inner{

        table{
            width: 100%;
            border-top: 2px solid #111;
            margin-bottom: 50px;
            border-collapse: collapse;

            tr{
                th{
                    background: #666;
                    color: #fff;
                    padding: 10px;

                }

                td{
                    padding: 17px;
                    border-bottom: 1px solid #bbb;
                    text-align: center;
                    font: 15px/1 'Hebo';
                    
                    a{
                        font: 16px/1 'Hebo';
                        color: #333;
                    }
    
                    &:nth-of-type(2){
                        text-align: left;
                    }
                }
                &:hover td{
                    background: #eeeded;
                }
    

            }

            
            tr:hover td{
                background: #eeeded;
            }
        }

        .pagination{
            width: 100%;
            text-align: center;
            position: relative;

            &::after{
                content: '';
                display: block;
                clear: both;
            }

            .prev, .next{
                display: inline-block;
                font: 20px/30px 'Hebo';
                color: #666;
                text-align: center;
                vertical-align: middle;
            }

            .numbers{
                display: inline-block;
                text-align: center;
                font-size: 0;

                a{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    font: 11px/30px 'Hebo';
                    color: #666;
                    text-align: center;
                    margin: 0 5px;
                    transition: 0.5s;

                    &:hover{
                        border-bottom: 1px solid #bbb;
                        font: bold 13px/30px 'Hebo';
                    }
                }
            }

        }

    }
}