@charset 'utf-8';

@import 'reset';
@import 'sub_layout';



#header{
    width: 100%;
    .top{
        width: 100%;
        height: 30px;
        background: #f8f1e4;
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        height: 120px;
        position: relative;

        >h1{
            position: absolute;
            bottom: 0;
            left: 0;

            a{
                font: bold 24px/1 'Frank Ruhl Libre';
                color: #999;
            }
        }

        .menuWeb{
            #gnb{
                position: absolute;
                bottom: 0;
                right: 0;

                li{
                    display: inline-block;
                    margin-left: 15px;

                    a{
                        font: bold 15px/1 'Josefin Sans';
                        // font: bold 16px/1 'Lora';
                        // font: bold 16px/1 'Hebo';
                        // font: 16px/1 'Frank Ruhl Libre';
                        color: #444;
                    }
                }
            }

            .util{
                position: absolute;
                top:-25px;
                right: 0;
                

                li{
                    display: inline-block;
                    margin-left: 10px;
                    

                    a{
                        font: bold 16px/1 'Lora';
                        color: lightslategray;
                    }
                }
            }
        }

        .btnCall{
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            display: none;

            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background: #000;
                display: block;
                transform: rotate(0deg);
                transition: top 0.5s 0s, transform 0.5s 0.5s;
            }
            &::after{
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background: #000;
                display: block;
                transform: rotate(0deg);
                transition: bottom 0.5s 0s, transform 0.5s 0.5s;
            }
            span{
                display: block;
                width: 100%;
                height: 2px;
                background: #000;
                text-indent: -9999px;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -1px;
                transition: 0.5s;
            }

            &.on{
                &::before{
                    transform: rotate(45deg);
                    top: 50%;
                    margin-top: -1px;
                }
                &::after{
                    transform: rotate(-45deg);
                    bottom: 50%;
                    margin-bottom: -1px;
                }
                span{
                    transform: translateX(100%);
                    opacity: 0;
                }
            }
        }

        .menuMo{
            position: fixed;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100vh;
            background: #444;
            transition: 0.5s;
            padding: 35px 30px;
            z-index: 10;

            h1{
                border-bottom: 1px solid #eee;
                padding-bottom: 20px;
                margin-bottom: 60px;

                a{
                    display: block;
                    font: 24px/1 'Josefin Sans';
                    color: #fff;
                    text-align: center;
                }
            }

            #gnbMo{
                li{
                    
                    a{
                        display: block;
                        font: 30px/1 'Josefin Sans';
                        color: #fff;
                        text-align: center;
                        margin-bottom: 35px;
                        
                        
                    }
                }
            }
        }
    }
}

#visual{
    width: 100%;
    height: calc( 100vh - 120px);
    position: relative;
    background: #eee;

    .inner{
        width: 1180px;
        margin: 0 auto;
    }
}

#introduce{
    width: 100%;
    padding: 150px 0;
    background: #f9f4f1;
    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{

            .left{
                float: left;
                width: 49%;
                margin-right: 2%;
                padding: 150px 60px;

                h1{
                    font: bold 15px/1 'Hebo';
                    margin-bottom: 100px;
                    color: #f0a417;
                }
                p{
                    font: 600 16px/1.7 'Hebo';
                    color: #212121;
                    
                }
            }

            .right{
                float: left;
                width: 49%;

                h2{
                    font: bold 24px/1.4 'Josefin Sans';
                    letter-spacing: -1px;
                    margin-bottom: 50px;
                }
                img{
                    width: 700px;
                    height: 600px;
                }
            }


        }
    }
}

#content{
    width: 100%;
    padding: 200px 0;
    background: #e6e5e1;

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 0 30px;

        .wrap{
            display: flex;
            .left{
                width: 34%;
                position: relative;
                padding: 30px 100px;
                
    
                h1{
                    font: bold 24px/1 'Lora';
                    margin-bottom: 20px;
                }
    
                .pic1{
                    width: 350px;
                    height: 240px;
                    background: #555;
                }
    
                .pic2{
                    width: 220px;
                    height: 140px;
                    background: #bdbaba;
                    position: absolute;
                    bottom: 30px;
                    left: -30px;
    
                    a{
                        font: 15px/1 'Lora';
                        color: #333;
                        position: absolute;
                        bottom: -60px;
                        left: 0;
    
                        i{
                            margin-left: 20px;
                        }
                    }
    
                }
            }

            .middle{
                width: 43%;
                position: relative;
                .txt{
                    position: absolute;
                    bottom: -100px;

                    h2{
                        font: bold 20px/1 'Lora';
                        margin-bottom: 20px;
                    }

                    p{
                        font: 15px/1.4 'Heebo';
                        width: 75%;
                    }
                    
                }

            }
    
            .right{
                width: 23%;
    
                .pic{
                    width: 300px;
                    height: 440px;
                    background: #555;
                }

            }

        }

        

    }
}

#about{
    width: 100%;
    padding: 150px 0;
    background: #d9d9d3;

    .inner{
        width: 1180px;
        margin: 0 auto;
        display: flex;

        .left{
            // width: 65%;
            width: auto;
            display: flex;
            margin-right: 3%;
            h1{
                font: 26px/1.3 'Lora';
                width: 38%;
            }
            span{
                font: 24px/1 'Lora';
                color: orange;
                border-bottom: 1px solid orange;
                margin-right: 5px;
            }
            .wrap{
                display: flex;

                article{
                    width: 220px;
                    height: 350px;
                    margin-right: 10px;
                    .pic{
                        width: 200px;
                        height: 280px;
                        background: #999;
                        margin-bottom: 15px;
                    }
                    p {
                        font: bold 14px/1.3 'Hebo';
                        padding-right: 6px;
                        margin-bottom: 5px;
                    }
                    
                }
            }
        }
        .right{
            width: 35%;
            h2{
                font: 22px/1.3 'Lora';
                margin-bottom: 50px;
            }
            span{
                font: 20px/1 'Lora';
                float: left;
            }
            ul{
                float: right;
                width: 55%;
                li{
                    margin-bottom: 10px;

                    &::after{
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #111;
                        display: block;
                        margin-top: 8px;
                    }
                    a{
                        font: 18px/1 'Lora';
                        color: #111;
                        

                        
                    }
                }
            }
        }

    }
}

#iconbox{
    width: 100%;
    padding: 150px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
            
            article{
                width: 280px;
                margin-right: 20px;
                float: left;

                &:last-child{
                    margin-right: 0;
                }
                i{
                    font-size: 24px;
                    margin-bottom: 13px;
                }
    
                h1{
                    font: 20px/1 'Hebo';
                    margin-bottom: 10px;
                }
            }

        }

        
    }
}

#footer{
    width: 100%;
    padding: 100px 40px;
    .inner{
        width: 1180px;
        margin: 0 auto;

        .top{
            width: 100%;
            display: inline-block;
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            h1{
                float: left;
                a{
                    display: block;
                    font: bold 28px/1 'Frank Ruhl Libre';
                    color: #111;
                    margin-bottom: 30px;
                }
            }
            .sns{
                float: right;
                li{
                    display: inline-block;
                    margin-right: 20px;

                    a{
                        font-size: 20px;
                        color: #000000;
                    }
                }
            }
        }
        .info{
            float: left;
            margin-bottom: 30px;
            &::after{
                content: '';
                display: block;
                clear: both;
            }
            p{
                font: 16px/1 'Heebo';
                color: #000000;
                margin-bottom: 10px;
            }
            span{
                font: 16px/1 'Heebo';
                color: #000000;
                display: block;
                margin-bottom: 30px;
            }
            strong{
                font: 15px/1 'Heebo';
                color: #000000;
                margin-right: 20px;
            }
            .open{
                font: 15px/1 'Heebo';
                color: #cbcbcb;
                display: inline-block;
            }
            .copyright{
                font: 14px/1 'Heebo';
                color: #cbcbcb;
            }

        }

        .list{
            text-align: right;

            ul{
                li{
                    margin-bottom: 5px;
                    a{
                        font: 15px/1 'Heebo';
                        color: #111;
                        
                    }
                }
            }

        }
    }
}